<div class="faq">
  @for (faq of faqs(); track faq.question; let i = $index) {
    <div class="faq__item" [class.is-open]="isOpen(i)">
      <h3 class="faq__heading">
        <button
          type="button"
          class="faq__trigger"
          [id]="uid + '-q' + i"
          [attr.aria-expanded]="isOpen(i)"
          [attr.aria-controls]="uid + '-a' + i"
          (click)="toggle(i)"
          (keydown)="onKeydown($event, i)"
        >
          <span>{{ faq.question }}</span>
          <app-icon name="chevron" size="1.25rem" />
        </button>
      </h3>
      <div class="faq__panel" [id]="uid + '-a' + i" role="region" [attr.aria-labelledby]="uid + '-q' + i" [attr.hidden]="isOpen(i) ? null : ''">
        <div class="faq__panel-inner">
          <p>{{ faq.answer }}</p>
        </div>
      </div>
    </div>
  }
</div>
